$clr-palette: (
  primary: (500:hsl(14, 45%, 36%), 900: #7b284f),
  neutral: (50: hsl(330, 100%, 98%), 100: hsl(31, 53%, 90%),
    200: hsl(30, 18%, 87%),
    700: hsl(32, 10%, 34%),
    900: hsl(15, 4%, 18%),
  ),
);


//this is largely based on Google's Material Theme
// $clr-palette-primary
// $clr-palette-neutral
$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);