@use "../abstracts/" as *;

html,
body {
    overflow-x: hidden;
}

body {
    background-color: clr(neutral, 100);
    font-size: fs(xs);
    line-height: 1.25;


    min-height: 100vh;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(tablet) {
        font-size: fs(body);
    }


}

.card {
    background-color: $clr-white;

    padding: 0 pxToRem(32px) pxToRem(40px);


    @include mq(tablet) {
        border-radius: pxToRem(12px);
        padding: pxToRem(40px);
    }

}

img {
    max-inline-size: 100%;
    block-size: auto;
    inset-block: auto;
    margin-inline: auto;
    height: pxToRem(300px);
    object-fit: cover;

    @include mq(tablet) {
        border-radius: pxToRem(12px);
    }
}

.preparation {
    padding: pxToRem(24px);
    background-color: clr(neutral, 50);
    color: clr(neutral, 700);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: pxToRem(12px);
    margin-block: pxToRem(32px);

    & .ff-primary {
        margin-bottom: pxToRem(16px);
    }



    & ul {
        padding-left: 20px;

        li {
            text-indent: 16px;

            &::marker {
                color: clr(primary, 900);
            }

        }
    }

    @include mq(tablet) {
        padding: pxToRem(28px);
    }
}

.ingredients {
    margin-block: pxToRem(32px);

    & .ff-primary {
        margin-bottom: pxToRem(16px);
    }

    &__list {
        padding-left: 16px;

        li {
            text-indent: 16px;

            &::marker {
                color: clr(primary, 900);
            }
        }
    }
}

.instructions {
    padding-top: pxToRem(32px);
    margin-block: 0 32px;
    border-top: 1px solid clr(neutral, 200);
}

.nutrition {
    padding-top: pxToRem(32px);
    border-top: 1px solid clr(neutral, 200);

    table {
        border-collapse: separate;
        width: 100%;
        text-align: left;
        border-spacing: 0 pxToRem(24px);

        td,
        th {
            padding-bottom: 12px;
            border-bottom: 1px solid clr(neutral, 200);

        }


    }
}



.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    inset: auto 0 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}